<link href="/stylesheets/navbar.css" rel="stylesheet">

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light p-0 d-flex">
    <a class="navbar-brand px-3" href="#">
        <img src="/images/key.png" class="h-3" style="height:40px" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse h-100" id="navbarNav">
        <ul class="navbar-nav h-100 d-flex ">
            <li class="nav-item item active d-flex flex-column justify-content-center">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item item d-flex flex-column justify-content-center">
                <a class="nav-link" href="/shops">Browse vendors</a>
            </li>
            <li class="nav-item item d-flex flex-column justify-content-center">
                <a class="nav-link" href="/shops/new">Add vendor</a>
            </li>
        </ul>

    </div>
    <div class="navbar-nav ml-auto mr-3">
        <!-- <% if (!currentUser){ %>

            <a class="nav-link btn btn-success px-3 mx-3 " href="/login">Login</a>
            <a class="nav-link btn btn-warning px-3 mx-3" href="/register">Register</a>
            <% } else {%>
                <p class="text-light">
                    <%=currentUser.email%>
                </p>
                <a class="nav-link btn btn-danger mx-3 px-3 " href="/logout ">Logout</a>

                <% } %> -->
        <li class="nav-item dropdown mx-5">
            <a class="nav-link dropdown-toggle item" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                ⌨️ My Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <% if(!currentUser){%>
                    <li><a class="dropdown-item" href="/login">
                            <row><b>Login</b> to view profile</row>
                        </a></li>
                    <li><a class="dropdown-item" href="/register">
                            Don't have an account? <b>Register</b>
                        </a></li>
                    <%}else{%>
                        <li><a class="dropdown-item" href="/profile">
                                <b>
                                    <row>⌨️ View profile</row>
                                </b>
                            </a></li>
                        <li><a class="dropdown-item" href="/logout">
                                <b> ❌ Logout</b>
                            </a></li>
                        <%}%>
            </ul>
        </li>

    </div>



</nav>